@font-face {
    font-family: 'Chosun';
    src: url('../fonts/ChosunCentennial_otf.otf') format('truetype');
}

:root {
    --font-Chosun: "Chosun";
}

.contentFrame {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.firstFrame {
    display: flex;
    flex-direction: column;
    border-right: 2px solid black;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.secondFrame {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: flex-start;
    align-items: flex-start;
}

.overviewFrame {
    width: 100%;
}

.overviewTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 180%;
}

.overviewFirstContent {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 3%;
}

.overviewKoreanContent {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    margin-left: 4%;
    margin-right: 6%;
    font-size: 150%;
}

.overviewKorean {
    height: 100%;
}

.overviewEnglish {
    font-size: 150%;
}

.overviewImageFrame {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
}

.overviewSecondContent {
    padding: 3%;
    width: 97%
}

.overviewImage {
    width: 100%;
}

.infoFrame {
    width: 100%;
    justify-content: flex-start;
}

.infoTitleFrame {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 180%;
}

.infoContentFrame {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.infoContent {
    width: 90%;
    font-size: 150%;
}

.awardsFrame {
    width: 100%;
    justify-content: flex-start;
    margin-top: 15%;
}

.awardsTitleFrame {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 180%;
}

.awardsContentFrame {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.awardsContent {
    width: 90%;
    font-size: 150%;
}

.bottomNavBarFrame {
    padding: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.bottomNavBar {
    font-size: 120%;
    position: relative;
    color: black;
    width: 100%;
    transition: .10s;
}

.bottomNavBar:hover {
    color: transparent;
}

.bottomNavBar:hover::before {
    content: "프로젝트면으로 이동\AGoing to The Project Page";
    position: absolute;
    color: white;
    white-space: pre-wrap;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
}