.all {
    padding: 1%;
    justify-content: center;
    align-items: center;
}

.koreanTitle {
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 150%;
    color: white;
    font-weight: bold;
}

.englishTitle {
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 130%;
    color: rgb(75, 75, 75);
}

.fitLeft {
    padding: 2%;
    width: 90%;
    font-size: 120%;
}

.contentFrame {
    display: flex;
    flex-direction: row;
}

.koreanContent {
    padding: 3%;
}

.englishContent {
    padding: 3%;
}


.detailButton {
    color: black;
    cursor: pointer;
    transition: .10s;
    padding: 3%;
}

.detailButton:hover {
    color: black;
    text-decoration: underline;
}